extends ./layout.pug

block content
    .auth
        .container.py-lg-5.py-md-4.py-3
            .row
                .col-md-4.offset-md-4
                    .auth-box.rounded.p-4
                        a(href="/").d-block.text-center
                            img(src=assetsUrl('images/logo.png'), alt="")
                        form(action="", method="post")
                            !=csrfField()
                            .form-group
                                input#username.form-control(type="text" name="username" placeholder="Username")
                            .form-group
                                input#email.form-control(type="text" name="email" placeholder="Email Address")
                            .form-group
                                input#password.form-control(type="password" name="password" placeholder="Password")
                            .form-group
                                input#repassword.form-control(type="password" name="re_password" placeholder="Retype Password")
                            .form-group
                                button(type="submit").btn.btn-info.btn-block Register
                            .d-block.text-center
                                a(href=route('login.get')) Login
